@font-face {
    font-family: 'Alegreya';
    src: url(../fonts/Alegreya.ttf);
}

body {    
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../rsc/aboutus.png");
    backdrop-filter: blur(7px);
    z-index: -1;
    color: white;    
    overflow: none;
}

.aboutus {
    justify-content: center;
    display: flex;
}

.text {
    padding: 20px 0px 0px 20px;
    font-family: 'Alegreya';
    width: 100%;
    font-size: 25px;
    color: #ffcf40;
    text-align: center;
    margin: 40px 20px;
    justify-content: center;
}